
@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<p>Projekt z przedmiotu Inżynieria Oprogramowania </p>
<p>Prowadzący: mgr inż. Ewa Żesławska</p>
<p>Autorzy: Damian Fudali - W57111; Krzysztof Dajtrowski - W57696</p>

