
@{
    ViewBag.Title = "Pending";
}

<h2>Oczekiwanie na weryfikację konta</h2>
<p>Musisz czekać aż Twoję konto zostanie zweryfikowane pod kątem adresu zamieszkania.</p>
<P>Zazwyczaj nie trwa to więcej niż godzinę.</P>

